.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ImgFigures {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  perspective: 2100px;
}

.ImgFigures .img-figure {
  position: absolute;
  box-sizing: border-box;
  width: 256px;
  height: 300px;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
  transform-origin: 0 50% 0;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
  transform-style: preserve-3d;
}

.ImgFigures .img-figure.is-inverse {
  transform: translate(256px) rotateY(180deg);
}

.ImgFigures .img-back {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px;
  transform: rotateY(180deg) translateZ(1px);
  text-align: center;
  color: #666;
  background: #eee;
  backface-visibility: hidden;
}

.ImgFigures figcaption {
  text-align: center;
  color: #222;
}

.ImgFigures figcaption .img-title {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.ControllerUnits {
  position: absolute;
  z-index: 101;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
  box-sizing: border-box;
}

.ControllerUnits .controller-unit {
  height: 30px;
  width: 30px;
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.5);
  transition: transform .6s ease-in-out, background .3s;
}

.ControllerUnits .controller-unit.is-center {
  transform: scale(1);
  background-color: #888;
}

.ControllerUnits .controller-unit.is-center.is-inverse {
  background-color: #108ee9;
  transform: rotateY(180deg);
}